process {
    executor = 'slurm'
    queue = 'your_queue'
    debug = true
    withLabel: 'gpu' {
        containerOptions = '--nv'
        clusterOptions = '--gres=gpu:1'
    }
}

aws {
  region = 'your-region'
}

singularity {
    enabled = true
    platform = 'linux/amd64'
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_CLOUD_CLIENT_ID', 'KACHERY_CLOUD_PRIVATE_KEY', 'SLURM_JOBID', 'SLURM_JOB_CPUS_PER_NODE', 'SLURM_JOB_GPUS']
    runOptions = ''
}

dag {
    enabled = true
    file = RESULTS_PATH + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = RESULTS_PATH + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = RESULTS_PATH + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = RESULTS_PATH + '/nextflow/trace.txt'
    overwrite = true
}