// process { 
//     executor = 'awsbatch' 
//     queueSize = 100
//     errorStrategy = 'default'
//     // maxRetries = 20
//     // maxErrors = 100
// }
aws {
    batch {
        // Retry S3 downloads up to 5 times if they fail, waiting 20 seconds to retry
        maxTransferAttempts = 5
        delayBetweenAttempts = 20
    }
}

process {
    errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
    maxRetries = 5
    maxErrors = 20
}

process.resourceLabels = ['allen-batch-pipeline': 'aind-smartspim-pipeline']
