aws {
    batch {
        // Retry S3 downloads up to 5 times if they fail, waiting 20 seconds to retry
        maxTransferAttempts = 5
        delayBetweenAttempts = 20
    }
}

process {
    errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
    maxRetries = 0
    maxErrors = 3
    maxForks = 50
    queueSize = 50
}

process.resourceLabels = ['allen-batch-pipeline': 'aind-smartspim-pipeline']
